{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Harold Garcia</h2>   
        <p>Soy Desarrollador Backend conexperiencia en proyectos con tecnologíasPython y Salesforce (Apex) Me apasionacrear aplicaciones web eficientes yelegantes, destacándome en laimplementación de soluciones técnicasavanzadas. Mi enfoque colaborativo,habilidades creativas de resolución deproblemas y compromiso con elaprendizaje continuo me han permitidocontribuir de manera significativa al éxitode los proyectos. Busco oportunidadesdesafiantes para seguir creciendo comoprofesional en el emocionante mundo deldesarrollo.</p>
    </div>
</div>
{% endblock %}
